.contacts-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__mail,
  &__tel {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  span {
    font-size: 20px;
    color: $brand-primary-blue;
    transition: 0.3s all;

    &:hover {
      color: $orange;
    }
  }

  &__social {
    display: flex;
    column-gap: 20px;

    a {
      display: inline-block;


      &:hover .fill {
        fill: $orange;
      }
    }

    .fill {
      transition: 0.3s all;
      color: $orange;
    }
  }
}
