.paginate {
  display: flex;
  column-gap: 10px;

  svg {
    width: 18px;
    height: 18px;

    @media (min-width: 576px) {
      width: 22px;
      height: 22px;
    }
  }
}

.page-numbers {
  padding: 0;
  border-radius: 50%;
  border: 2px solid $brand-primary-blue;
  background-color: transparent;
  width: 45px;
  height: 45px;
  color: $brand-primary-blue;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;

  @media (min-width: 576px) {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }

  &:active {
    color: $white;
    background-color: $brand-primary-blue;
  }

  &:hover {
    border: 2px solid $orange;
    color: $orange;
  }
}

.none {
  display: none;

  @media (min-width: 576px) {
    display: block;
  }
}


