.cl-why-block {
    background-image: url('../img/why-block.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 145px 0 120px;
    
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        
        @media (min-width: 992px) {
            flex-direction: row;
        }
        
    }
    
    &__content {
        color: $white;
        width: 100%;
        
        @media (min-width: 992px) {
            max-width: 470px;
        }
    }
    
    &__title {
        font-family: Roboto, sans-serif;
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        
        @media (min-width: 992px) {
            text-align: left;
            font-size: 40px;
        }
        
        span {
            font-weight: 800;
        }
    }
    
    &__desc {
        padding-top: 35px;
        margin: 0;
        
        @media (min-width: 992px) {
            padding-top: 40px;
        }
    }
    
    &__text {
        font-size: 18px;
        font-weight: 800;
        margin: 0;
        padding: 30px 0 35px;
        
        @media (min-width: 992px) {
            max-width: 310px;
            padding: 20px 0 40px;
        }
    }
    
    &__video {
        flex: 0 0 auto;
        width: 100%;
        height: auto;
        border-radius: 25px;
        overflow: hidden;
        margin-top: 45px;
        
        @media (min-width: 992px) {
            max-width: 555px;
            margin-top: 0;
        }
    }
    
    &__number {
        display: flex;
        color: $white;
        padding-top: 40px;
        flex-direction: column;
        row-gap: 30px;
        
        @media (min-width: 992px) {
            padding-top: 120px;
            flex-direction: row;
        }
        
        &-item {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            font-size: 52px;
            text-align: center;
        }
        
        &-num {
            font-size: 52px;
            text-align: center;
        }
        
        &-text {
            font-size: 18px;
            display: block;
        
        }
    }
    
    .num {
        font-size: 52px;
        line-height: 52px;
        padding-left: 15px;
    }
}
