.footer {
    background-color: #02324A;
    padding: 80px 0 40px 0;
    color: $white;

    @media (min-width: 576px) {
        padding: 100px 0 40px 0;
    }

    &__wrap {
        display: flex;

        @media (max-width: 991px) {
            flex-direction: column;
            row-gap: 50px;
        }
    }

    &__content-item {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;

        &_1 {
            flex: 0 0 auto;
            width: auto;
            max-width: 240px;
        }

        &_2 {
            flex-grow: 2;

            @media (min-width: 992px) {
                padding-left: math-clamp(30, 50);
            }
        }

        h3 {
            font-weight: 400;
            margin-bottom: 40px;
        }

        ul {
            list-style: none;
            margin: 0;

            li {
                padding: 2px 0;

                &:first-child {
                    padding-top: 0;
                }
            }

            a {
                text-decoration: none;
                color: $white;
                line-height: 1.6;
                transition: 0.3s all;

                &:hover {
                    color: $orange;

                }
            }
        }
    }

    &__cover-country {
        display: flex;

        @media (min-width: 992px) {
            column-gap: math-clamp(22, 64);
        }

        @media (max-width: 991px) {
            flex-direction: column;
            row-gap: 20px;
        }

        &_item {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            @media (min-width: 992px) {
                row-gap: 36px;
            }
        }
    }

    &__country-address {

        span {
            font-weight: 900;
            padding-left: 10px;
        }

        p {
            padding: 0 0 5px 44px;
            margin-bottom: 0;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__copyright {
        text-align: center;
        margin-bottom: 0;
        margin-top: 100px;
    }
}
